body,
html {
  margin: 0;
  background-color: #f2f2f2;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

@font-face {
  font-family: 'PKMN';
  src: url('/PKMN.ttf');
}
.app-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;
}
.poke-borders {
  /* border-image-source: url('/pokeborder.png'); */
  border-image-slice: 55;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border: 1.5vw solid;
}
.footer {
  color: #fff;
  border-top: 1px solid grey;
  background-color: #2b0a3d;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-logo {
  height: 100%;
  width: 55%;
  display: block;
  margin: 0 auto;
}

.pokemon-placard {
  border: 1px solid black;
  color: blue;
}

.pokemon-buy-info {
  flex-shrink: 0;
  width: 25vw;
  display: grid;
  padding: 10px;
  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 20px;
}

.pokemon-effect-info {
  position: relative;
  width: 45vw;
  height: 350px;
  background-color: white;
  margin: 20px;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.pokemon-buy-info > span {
  padding: 8px 4px;
  border-bottom: 1px solid lightgrey;
}

.coming-soon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 100px 0 0 0;
  color: #2b0a3d;
}

.coming-soon hr {
  margin: auto;
  width: 40%;
  height: 1px;
  background-color: #2b0a3d;
}

.counter {
  margin: 30px 0 0 0;
  font-size: 25px;
}

.paragraphContainer {
  width: 60%;
  margin: 0 auto 40px auto;
  border: solid;
  border-color: #2b0a3d;
  background-color: lemonchiffon;
}

.paragraphContainer p {
  margin: 20px;
}
